@page "/classes"
@using Common.APIModels;
@using System.Diagnostics;
@inject HttpClient Http;

<PageTitle>Classes</PageTitle>

<div class = "wrapper-div">
    <div class = "wrapper-div-upper">
        <a href = '/' class = "app-name">hazir</a>
    </div>
    <div class = "wrapper-div-lower">
        <div class = "wrapper-div-sidebar">
            <div class="nav-item">
            </div>
        </div>
        <div class = "wrapper-div-middle">
            <button class = "take-attendance" >Take Attendance</button>
        </div>
        <div class = "wrapper-div-right">

        </div>
    </div>
</div>

@code{
    private List<ClassResponseModel>? classes;

    //protected override async Task OnInitializedAsync()
    //{
    //    classes = await Http.GetFromJsonAsync<List<ClassResponseModel>>("https:localhost:7204/Hazir/GetAllClasses");
    //    foreach (var classData in classes)
    //    {
    //        Debug.WriteLine(classData.Name);
    //    }
    //}
}
