.wrapper-div
{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.wrapper-div-upper
{
    display: flex;
    flex-direction: column;
    flex: 4%;
    justify-content: center;
    align-content:center;
    padding-left: 2vh;
    border-bottom: solid;
    border-bottom-color: #5000FA;
}

.app-name
{
    color: #5000FA;
    font-size: 1.8vw;
    font-weight: 900;
    font-family: Samarkan;
    line-height: 4vw;
    letter-spacing: -0.1vw;
    text-align: left;
    text-decoration: none;
}

.wrapper-div-lower
{
    display : flex;
    flex: 90%;
    flex-direction: row;
    width: 100%;
    height: 94vh;
}


.wrapper-div-middle {
    flex: 70%;
    display: flex;
    background-color: #F7F3FF;
    flex-direction: column;
    padding: 1%;
}

.take-attendance
{
    background-color: #009213;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    padding: 1vh;
    border: none;
    font-size: 2vh;
}

.wrapper-div-right
{
    flex:20%;
    background-color: #ffffff;
}

.student-odd
{
    background: #5000FA;
    height: 4%;
    width: 100%;
    font-size: 2vh;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.student-even {
    background: #5D1BEA;
    height: 4%;
    width: 100%;
    font-size: 2vh;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.wrapper-div-sidebar
{
    flex: 10%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: #ffffff;
    background-color: #5000FA;
    height: 100%;
    width: 20%;
    padding: 0;
}


.nav-item
{
    padding: 0;
    width: 100%;
    background-color: #5000FA;
    color: #ffffff;
    align-content: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.nav-item-head
{
    display: flex;
    elevation: above;
    padding: 0;
    font-size: 1.5vh;
    border: none;
    width: 100%;
    height: 5vh;
    background-color: #5000FA;
    color: #ffffff;
    align-items: center;
    justify-content: left;
    font-family: 'Poppins', sans-serif;
    gap: 0.5vw;
    padding-left: 0.5vw;
}

.nav-subitem {
    display: flex;
    padding: 0;
    font-size: 1.2vh;
    direction: ltr;
    border: none;
    width: 100%;
    border: none;
    height: 5vh;
    background-color: #2D008B;
    color: #ffffff;
    align-items: center;
    justify-content: left;
    font-family: 'Poppins', sans-serif;
    gap: 0.5vw;
    padding-left: 0.5vw;
}

    .nav-subitem:hover
    {
        background-color: #23006b;
    }

    .nav-subitem:focus
    {
        background-color: #23006b;
    }

.oi {
    font-size: 1.5vh;
    vertical-align: middle;
}
