@page "/"
<PageTitle>Hazir - Home</PageTitle>

<div class = "wrapper-div">
    <div class = "wrapper-div-upper">
        <a href = '/classes' class="button">Login</a>
    </div>
    <div class = "wrapper-div-middle">
        <div class = "left-component">
            <h1 class = "app-name">
                hazir
            </h1>
            <h1 class = "hero-title">
                Now you can easily track and manage
                <span class = "text-span">
                    student attendance.
                </span>
                <br />
            </h1>
            <span class = "explaination-text">
                    With your hazir account, you can create new classes, register students and maintain their attendance by using face recognition in just a few clicks!
                </span>
        </div>
        <div class ="right-component">
        </div>
    </div>
    <div class = "wrapper-div-below">

    </div>
</div>



@code {
    private void Navigate()
    {
    }
}
